.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.comment-text {
  white-space: wrap !important;
}
