<ng-container *ngIf="post$ | async as post">
  <mat-sidenav-container>
    <mat-sidenav
      style="width: 20rem"
      #sidenav
      mode="over"
      position="end"
      [fixedBottomGap]="0"
      [fixedInViewport]="false"
    >
      <app-comments
        *ngIf="post.comments"
        [comments]="post.comments"
      ></app-comments>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="header">
        <div>
          <h2>{{ post["title"] }}</h2>
          <p>{{ post["createdDate"] | date }}</p>
        </div>
        <button
          mat-button
          color="primary"
          (click)="sidenav.opened = !sidenav.opened"
        >
          {{ "comments" | uppercase }}
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="content">
        <img *ngIf="post.imageUrl" mat-card-xl-image [src]="post.imageUrl" />
        <p>{{ post["content"] }}</p>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
