<mat-icon fontIcon="arrow_back"></mat-icon>

<mat-card class="example-card" *ngIf="candidate$ | async as candidate">
  <mat-card-header>
    <mat-card-title
      >{{ candidate.firstName }} {{ candidate.lastName }}</mat-card-title
    >
    <mat-card-subtitle
      >{{ candidate.job }}, {{ candidate.department }} at
      {{ candidate.company }}</mat-card-subtitle
    >
  </mat-card-header>
  <img
    mat-card-image
    [src]="candidate.imageUrl"
    [alt]="candidate.firstName + ' ' + candidate.lastName"
  />
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="onHire()">Hire</button>
    <button mat-flat-button (click)="onRefuse()">Reject</button>
  </mat-card-actions>
</mat-card>
